src/main/resources/xsd/hotel-report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- ROOT -->
    <xs:element name="hotelReport">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rooms" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="room" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:int" use="optional"/>
                                    <xs:attribute name="number" type="xs:string" use="optional"/>
                                    <xs:attribute name="floor" type="xs:int" use="optional"/>
                                    <xs:attribute name="status" type="xs:string" use="optional"/>
                                    <xs:attribute name="type" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="tasks" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="task" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:int" use="optional"/>
                                    <xs:attribute name="status" type="xs:string" use="optional"/>
                                    <xs:attribute name="roomNumber" type="xs:string" use="optional"/>
                                    <xs:attribute name="assignedToEmail" type="xs:string" use="optional"/>
                                    <xs:attribute name="scheduledDate" type="xs:string" use="optional"/>
                                    <xs:attribute name="durationInMinutes" type="xs:int" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="reservations" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="reservation" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:int" use="optional"/>
                                    <xs:attribute name="roomNumber" type="xs:string" use="optional"/>
                                    <xs:attribute name="status" type="xs:string" use="optional"/>
                                    <xs:attribute name="guestName" type="xs:string" use="optional"/>
                                    <xs:attribute name="checkInDate" type="xs:string" use="optional"/>
                                    <xs:attribute name="checkOutDate" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="date" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
